{% extends 'base.html.twig' %}

{% block title %}Caffe L'Antico{% endblock %}

{% block body %}
  <article class="scroller">
    <section class="section-home d-flex flex-column font-family-rubik_dirt">
      <div class="h-75">
        <div class="h-100 d-flex justify-content-between align-items-center">
          <div class="text-light text-center pt-5 mt-5">
            <div class="fs-1 caffelantico pt-5 mt-5">CAFFÉ</div>
            <img src="{{ asset('images/page/italy.svg') }}" alt="italy" class="w-50">
          </div>
          <div class="text-light text-center pt-5 mt-5">
            <div class="fs-1 caffelantico pt-5 mt-5">L’ANTICO</div>
            <img src="{{ asset('images/page/italy.svg') }}" alt="italy" class="w-50">
          </div>
        </div>
      </div>
      <div class="h-25 text-light">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="fs-1 caffelantico text-light text-center mt-5">
            История, страсть, кофе...
          </div>
        </div>
      </div>
    </section>

    <section class="section-1909 container">
      <div class="row m-0 h-100">
        <div class="col-lg-4 col-md-6 h-100 d-flex justify-content-center align-items-center">
          <div class="mx-4 p-3 surface-dark text-light border-0">
            <span class="fs-2 text-danger"><b>1909</b></span>
            <span class="fs-4">год<br> начало истории <b>Caffe L'Antico</b></span>
            <p class="fs-4">
              Кофе с более чем 110 летней
              <a href="/coffee-history" class="btn btn-dark d-block mt-3 border-0">историей</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-passione container">
      <div class="row m-0 h-100">
        <div class="col-lg-4 col-md-6 h-100 d-flex justify-content-center align-items-center">
          <div class="mx-4 p-3 surface-dark text-light border-0">
                    <span class="fs-2 text-light">
                        <b>Вековые традиции экспертизы в кофе</b>
                    </span>
            <p class="fs-4">
              Только настоящая страсть и приверженность традициям удерживает 4 поколения
              семьи за одним делом.<br>
              <a href="/la-passione" class="btn btn-dark d-block mt-3 border-0">
                Узнать как создаётся идеальный кофе
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-espresso container">
      <div class="row m-0 h-100">
        <div class="col-lg-4 col-md-6 h-100 d-flex justify-content-center align-items-center">
          <div class="mx-4 p-3  surface-dark text-light border-0">
            <span class="fs-2 font-weight-bold text-danger"><b>Espresso</b></span>
            <p class="fs-4">
              Основа большого количества кофейных напитков. Какой бы напиток мы не любили капучино, моккачино, американо,
              латте или кортадо, основа всегда эспрессо.
              <a href="/espresso" class="btn btn-dark d-block mt-3 border-0">
                Узнать как готовить идеальный эспрессо
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </article>

{% endblock %}
