{% extends 'base.html.twig' %}

{% block title %}Caffe L'Antico{% endblock %}

{% block body %}
  <article class="scroller">
    <section class="section-home d-flex flex-column font-family-rubik_dirt">
      <div class="h-75">
        <div class="h-100 d-flex justify-content-between align-items-center">
          <div class="text-light text-center pt-5 mt-5">
            <div class="fs-1 caffelantico pt-5 mt-5">CAFFÉ</div>
            <img src="{{ asset('images/page/italy.svg') }}" alt="italy" class="w-50">
          </div>
          <div class="text-light text-center pt-5 mt-5">
            <div class="fs-1 caffelantico pt-5 mt-5">L’ANTICO</div>
            <img src="{{ asset('images/page/italy.svg') }}" alt="italy" class="w-50">
          </div>
        </div>
      </div>
      <div class="h-25 text-light">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="fs-1 caffelantico text-light text-center mt-5">
            История, страсть, кофе...
          </div>
        </div>
      </div>
    </section>
  </article>

{% endblock %}
