{% extends 'base.html.twig' %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block body %}
  <h2>{{ page.title }} </h2>
  <div class="container-fluid mt-5">
    <img src="page/images/{{ page.cover }}" alt="cover" class="w-100 img-fluid ">
    <div class="container bg-body">
      {{ page.body | raw }}
    </div>
  </div>

{% endblock %}