body {
  background-color: #151E1D;
  margin: 0;
}

.font-family-rubik_dirt {
  font-family: 'Rubik Dirt', cursive;
}
.navbar-brand, .nav-link {
  font-size: 1.2rem;
  font-family: 'Rubik Dirt', cursive;
}
.nav-item:hover {
  box-shadow: 0 10px 10px -10px rgba(255, 255, 255, .5);
}
section {
  height: 100vh;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
.section-home {
  background-color: #151E1D;
  background-image: url("../../images/page/cover_temper.jpg");
}
.section-1909 {
  background-color: #151E1D;
  background-image: url("../../images/page/cover_1909.png");
  background-size: contain;
}
.section-passione {
  background-image: url("../../images/page/passione.png");
  opacity: 90%;
  background-size: contain;
}
.section-espresso {
  background-image: url("../../images/page/espresso.png");
  opacity: 90%;
  background-size: contain;
}
.surface-dark {
  background: rgba(255, 255, 255, 0.085);
  backdrop-filter: blur(99px);
  border-radius: 1rem;
}