<footer class="mt-3 bg-dark container-fluid text-light site-footer">
  <div class="container-lg">
    <div class="row mx-0 pt-5">
      <div class="col-md-6 col-lg-3">
        <img src="{{ asset('images/page/logo-white.svg') }}" class="img-fluid" width="150px" alt="logo-company">
        <p class="fs-5 ms-5 mt-3">
          © 2023 ООО "Орион" <br>
          ИНН 7604310150 <br>
          ОГРН 1167627084866
        </p>
      </div>
    </div>
  </div>

</footer>